.hero {
  background-image: url("images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
}

.container {
  margin-top: 200px;
}

.ig-logo {
  left: 15px;
  bottom: 15px;
  position: absolute;
  width:50px;
}
