.hero
{
  background: url(hero.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
}
.ig-logo {
  left: 15px;
  bottom: 15px;
  position: absolute;
  width:50px; 
}
